export(listGarminConnectActivity)
export(listLoadedActivity)
export(listNewActivity)
export(mapActivity)
exportClasses(garminConnect)
exportClasses(tcxFile)
import(RCurl)
import(RSQLite)
import(XML)
import(ggmap)
import(rjson)
