export(listGarminConnectActivity)
export(listLoadedActivity)
export(listNewActivity)
export(mapActivity)
export(tcxFile)
export(garminConnect)
import(RCurl)
import(RSQLite)
import(XML)
import(ggmap)
import(rjson)
